

/* ---------------- 新增地址 ----------- */
.address-content .new-addr, 
.address-list{
	background: #fff;
	padding:0 1rem;
	border-bottom: 1px solid #dfdfdf;
}
.new-addr .row-inpt{
	display: block;
	width:100%;
	height:4rem;
	line-height: 4rem;
	background: transparent;
	border-bottom: 1px solid #eee;
}
.new-addr .textarea{
	width:100%;
	padding:.9rem 0;
	color:#999;
}
/* ---------------- 地址列表 ----------- */
.address-list{
	padding:.9rem 1rem;
}

/* ---------- 收货人信息 ---------- */
.receive-info{
	display: block;
	line-height: 1.8rem;
	border-top:1px solid #d9d9d9;
	border-bottom:1px solid #d9d9d9;
	background-color: #f6f8f8;
	padding:.9rem 2.8rem .9rem .9rem;
	margin:.5rem 0;
	position: relative;
}
.receive-info p{
	line-height: 2.2rem;
}
.receive-info .icon-right,
.receive-info .icon-check{
	color:#51d29d;
	position: absolute;
	right:.9rem;
	top:50%;
	margin-top:-.9rem;
}
.receive-info .icon-check{
	margin-top:-.8rem;
	color:#ddd;
}
.receive-info .fill{
	color:#51d29d;
}
.receive-info .name{
	margin:0 0 .4rem;
	font-size: 1.6rem;
}
.receive-info .number{
	font-size: 1.6rem;
	padding:0.4rem 0;
}
.receive-info .address,
.receive-info .postcode{
	color:#999;
}