
/*icon style*/
.icon-logo:before{
  content: "\e600";
}
.icon-search:before{
	content: "\e623";
}
.icon-collect:before {
	content: "\e024";
}
.icon-collected:before {
	content: "\e613";
}
.icon-users:before{
	content: "\e614";
}
.icon-email:before{
	content: "\e619";
}
.icon-addr:before{
	content:"\e620";
}
.icon-check:before{
	content:"\e042";
}
.icon-buy:before{
	content:"\e625";
}
.icon-account:before{
	content:"\e612";
}
.icon-view:before{
	content:"\e60b";
}
.icon-del:before{
	content:"\e60d";
}
.icon-edit:before{
	content:"\e60c";
}
.icon-set:before{
	content: "\e61d";
}
.icon-left:before{
	content: "\ea40";
}
.icon-more:before{
	content:"\e129";
}
.icon-camera:before{
	content:"\e626";
}
.icon-keyword:before{
	content:"\e61f";
}
.icon-eye:before{
	content:"\e609";
}
.icon-wx:before{		/* 微信 */
	content:"\e614";
}
.icon-pyq:before{		/* 新浪微博 */
	content:"\e611";
}
.icon-wb:before{		/* 朋友圈 */
	content:"\e60";
}
.icon-right:before{
	content: "\ea50";
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); 	/* IE 9 */
	-moz-transform:rotate(90deg); 	/* Firefox */
	-webkit-transform:rotate(90deg); /* Safari 和 Chrome */
	-o-transform:rotate(90deg); 
	display: block;
	font-size: 2.4rem;
}

/* --------------------- button style --------------------- */

[class^="btn-"], [class*=" btn-"], [class^="inpt-"], [class*=" inpt-"]{
	-webkit-appearance : none ;
	height:5rem; /* ---- 所有按钮（btn－）输入框(inpt-) 高度为5rem ---- */
}

[class^="btn-"], [class*=" btn-"]{
	color:#51d29d;
	font-size: 1.6rem;
	line-height: 5rem;
	padding:.5rem 1.6rem;
	text-align: center;
	background:#fff;
	border-radius: 1.5rem;
	border:2px solid #51d29d;
}
.btn-buy:active,
.btn-check:active{
	background: #51d29d;
	color:#fff;
}

.button{
	text-align: center;
}
.bottom-button a{
	border-right:1px solid #fff;
}
.bottom-button a:last-child{
	border-right:0 none;
}

/* --------------------- input tag --------------------- */
[class^="inpt-"], [class*=" inpt-"]{ /* 所有输入框(inpt-)背景颜色 */
	font-size: 1.5rem;
	color:#666;
	background: #e8e8e8;
	padding-left:1.2rem;
}


/* -------------- fonts style -------------*/
[class^="ft-"], [class*=" ft-"]{
	font-style: normal;
}
.ft-h1{  /* 用于商户页面门店标题 */
	font-size: 1.8rem;
}
.ft-h2{ /* 用于商品标题 */
	font-size: 1.4rem;color:#666;
}
.ft-3{ /* 15px字号 */
	font-size: 1.5rem;
}
.ft-price{ /* 用于商品价格 */
	font-size: 1.6rem;color:#51d29d;font-weight: bold;font-family: sans-serif;
}
.ft-tips{ /* 用于提示性文字 */
	font-size: 1.3rem;opacity: .5;
}
.ft-4{
	font-size: 1rem;
}


/* -------------- 弹性布局 -------------- */
.flex,
.nav-container,
.bottom-button,
.chs-buy-num,
.logi-bottom,
.login-in,
.wrap-purchase-amount,
.login-item{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	display:box;/* uc */
}
.flex-justify,
.btn-modify,
.btn-delete,
.btn-ok,
.btn-cancel,
.prd-item .prd-wrap{
	-webkit-box-pack:justify;
	-webkit-justify-content:space-between;
	-ms-flex-pack:justify;
	justify-content:space-between;
}
.flex-1,
.btn-ok,
.btn-cancel,
.btn-modify,
.btn-delete,
.nav-left, 
.nav-right,
.btn-share,
.chs-buy-num-sub,
.chs-buy-num-add,
.logi-summary-right,
.member-func
.row-feature .box-feature{
	-webkit-box-flex:1;
	-webkit-flex:1;
	-ms-flex:1;
	flex:1;
}

.prd-item .prd-wrap .item,
.shop-home .shop-banner .banner-pic a,
.shop-home .shop-banner .banner-pic img,
.btn-bottom,
.login-in .member-info .m-avatar img,
.row-feature .box-collect .pic img{
	width:100%;
	height:100%;
}


.wrap-all{
  height:100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* 定位滑动问题 */
.body-content, .scroll-content{
	/*这里直接100%，元素内部留margin来撑开高度*/
	height:100%;
	overflow: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling:touch;
}

/* -- common head 头部 -- */
.prd-list,
.address-content{
	padding-top: 4.4rem;
}

.top-bar{
  background-color: #f1efef;
  opacity: .9;
  z-index: 99;
  width:100%;
  height:4.4rem;
  position: absolute;
  left: 0;
  top:0;
  overflow: hidden;
}
  .top-bar a, .top-bar span{
    line-height: 4.4rem;
    font-size: 1.4rem;
    padding:0 1rem;
    color:#51d29d;
  }
  .top-bar span{
  	color:#ccc;
  	font-size: 1.6rem;
  }
  .top-bar .icon-publish{
    text-align: right;
    padding-right: .5rem;
  }

  .top-bar .title {
    text-align: center;
    line-height: 4.4rem;
    width: 50%;
    margin: 0 auto;
    color:#888;
    font-size: 1.6rem;
  }
/* ----------- 订单／个人中心／支付  详情页面 ----------- */
.layout-cont{
	padding: 4.4rem 0.833rem 1.5rem;
	background-color: #fff;
}

/*------- media query -------*/
@media only screen and (min-width: 320px){
    html {
       /*  font-size: 62.5%!important;10÷16=62.5% */
        font-size: 10px!important;  
    }
}
@media only screen and (min-width: 376px){
    html {
       /*  font-size: 75%!important; 12÷16=75% */
        font-size: 12px!important;
    }
}
@media only screen and (min-width: 385px){
    html {
       /*  font-size: 88%!important; 14÷16=88% */
        font-size: 14px!important;
    }
}
@media only screen and (min-width: 481px){
    html {
       /*  font-size: 94%!important; 15.04÷16=94% */
        font-size: 15px!important;
	}
}
	
@media only screen and (min-width: 561px){
    html {
       /*  font-size: 112%!important; 17.44÷16=109% *//* 18÷16=112% */
        font-size: 17px!important;
    }
}
@media only screen and (min-width: 641px){
    html {
        /* font-size: 138%!important; 20÷16=125% *//* 22÷16=138% */
        font-size: 20px!important;
    }
}
@media only screen and (min-width: 829px){ 
    html {
        /*font-size: 150%!important;  24÷16=150% */
        font-size: 24px!important;
    }
}
@media only screen and (min-width: 1281px){ 
    html {
        /*font-size: 188%!important;  30÷16=188% */
        font-size: 30px!important;
    }
}


/* ------------------- loading ------------------- */
/*load 1*/
 @-webkit-keyframes load{
        0%{
          background: #ddd;
          -webkit-transform:scale(0);
        }
        50%{
          background: #666;
          -webkit-transform:scale(1);
        }
        100%{
          background: #ddd;
          -webkit-transform:scale(0);
        }
      }
      @-moz-keyframes load{
        0%{
          background: #ddd;
          -moz-transform:scale(0);
        }
        50%{
          background: #666;
          -moz-transform:scale(1);
        }
        100%{
          background: #ddd;
          -moz-transform:scale(0);
        }
      }
      @-ms-keyframes load{
        0%{
          background: #ddd;
          -ms-transform:scale(0);
        }
        50%{
          background: #666;
          -ms-transform:scale(1);
        }
        100%{
          background: #ddd;
          -ms-transform:scale(0);
        }
      }
      @keyframes load{
        0%{
          background: #ddd;
          transform:scale(0);
        }
        50%{
          background: #666;
          transform:scale(1);
        }
        100%{
          background: #ddd;
          transform:scale(0);
        }
      }

      /*load 2*/
      @-webkit-keyframes loadb{
        0%{
          background: #ddd;
          -webkit-transform:scale(0);
        }
        12%{
          background: #ddd;
          -webkit-transform:scale(0);
        }
        62%{
          background: #666;
          -webkit-transform:scale(1);
        }
        100%{
          background: #ddd;
          -webkit-transform:scale(0);
        }
      }
      @-moz-keyframes loadb{
        0%{
          background: #ddd;
          -moz-transform:scale(0);
        }
        12%{
          background: #ddd;
          -moz-transform:scale(0);
        }
        62%{
          background: #666;
          -moz-transform:scale(1);
        }
        100%{
          background: #ddd;
          -moz-transform:scale(0);
        }
      }
      @-ms-keyframes loadb{
        0%{
          background: #ddd;
          -ms-transform:scale(0);
        }
        12%{
          background: #ddd;
          -ms-transform:scale(0);
        }
        62%{
          background: #666;
          -ms-transform:scale(1);
        }
        100%{
          background: #ddd;
          -ms-transform:scale(0);
        }
      }
      @keyframes loadb{
        0%{
          background: #ddd;
          transform:scale(0);
        }
        12%{
          background: #ddd;
          transform:scale(0);
        }
        62%{
          background: #666;
          transform:scale(1);
        }
        100%{
          background: #ddd;
          transform:scale(0);
        }
      }

      /*load 3*/
      @-webkit-keyframes loadc{
        0%{
          background: #ddd;
          -webkit-transform:scale(0);
        }
        25%{
          background: #ddd;
          -webkit-transform:scale(0);
        }
        75%{
          background: #666;
          -webkit-transform:scale(1);
        }
        100%{
          background: #ddd;
          -webkit-transform:scale(0);
        }
      }
      @-moz-keyframes loadc{
        0%{
          background: #ddd;
          -moz-transform:scale(0);
        }
        25%{
          background: #ddd;
          -moz-transform:scale(0);
        }
        75%{
          background: #666;
          -moz-transform:scale(1);
        }
        100%{
          background: #ddd;
          -moz-transform:scale(0);
        }
      }
      @-ms-keyframes loadc{
        0%{
          background: #ddd;
          -ms-transform:scale(0);
        }
        25%{
          background: #ddd;
          -ms-transform:scale(0);
        }
        75%{
          background: #666;
          -ms-transform:scale(1);
        }
        100%{
          background: #ddd;
          -ms-transform:scale(0);
        }
      }
      @keyframes loadc{
        0%{
          background: #ddd;
          transform:scale(0);
        }
        25%{
          background: #ddd;
          transform:scale(0);
        }
        75%{
          background: #666;
          transform:scale(1);
        }
        100%{
          background: #ddd;
          transform:scale(0);
        }
      }

      /*load 4*/
      @-webkit-keyframes loadd{
        0%{
          background: #ddd;
          -webkit-transform:scale(0);
        }
        37%{
          background: #ddd;
          -webkit-transform:scale(0);
        }
        87%{
          background: #666;
          -webkit-transform:scale(1);
        }
        100%{
          background: #ddd;
          -webkit-transform:scale(0);
        }
      }
      @-moz-keyframes loadd{
        0%{
          background: #ddd;
          -moz-transform:scale(0);
        }
        37%{
          background: #ddd;
          -moz-transform:scale(0);
        }
        87%{
          background: #666;
          -moz-transform:scale(1);
        }
        100%{
          background: #ddd;
          -moz-transform:scale(0);
        }
      }
      @-ms-keyframes loadd{
        0%{
          background: #ddd;
          -ms-transform:scale(0);
        }
        37%{
          background: #ddd;
          -ms-transform:scale(0);
        }
        87%{
          background: #666;
          -ms-transform:scale(1);
        }
        100%{
          background: #ddd;
          -ms-transform:scale(0);
        }
      }
      @keyframes loadd{
        0%{
          background: #ddd;
          transform:scale(0);
        }
        37%{
          background: #ddd;
          transform:scale(0);
        }
        87%{
          background: #666;
          transform:scale(1);
        }
        100%{
          background: #ddd;
          transform:scale(0);
        }
      }
	.load-1{
        -webkit-animation:load 1s ease infinite;
        -moz-animation:load 1s ease infinite;
        -ms-animation:load 1s ease infinite;
        animation:load 1s ease infinite;
    }
    .load-2{
        -webkit-animation:loadb 1s ease infinite;
        -moz-animation:loadb 1s ease infinite;
        -ms-animation:loadb 1s ease infinite;
        animation:loadb 1s ease infinite;
    }
    .load-3{
        -webkit-animation:loadc 1s ease infinite;
        -moz-animation:loadc 1s ease infinite;
        -ms-animation:loadc 1s ease infinite;
        animation:loadc 1s ease infinite;
    }
    .load-4{
        -webkit-animation:loadd 1s ease infinite;
        -moz-animation:loadd 1s ease infinite;
        -ms-animation:loadd 1s ease infinite;
        animation:loadd 1s ease infinite;
    }
.wrap-loading{
	padding:.8rem 0;
	text-align: center;
	
}
.wrap-loading span{
	display: inline-block;
	width:.1rem;
	height:1rem;
	border-radius: 50%;

}


