
/* ---------------- 我的订单 ---------------- */

.order-wrap .ft-h2,
.order-wrap .wrap-price,
.order-wrap .quantity{
	text-align: center;
}

.prd-item .order-list{
	background: #fff;
	overflow: hidden;
	padding:.4rem;
	position: relative;
}
	.order-list .detail-pro{
		padding:0 .2rem 0 10.6rem;
		text-align: left;
	}
	.order-list .detail-pro .ft-h2{
		padding-bottom: .6rem;
	}
	.order-list .detail-pro .wrap-price{
		overflow: hidden;
		padding:.4rem 0;
	}
	.order-list .detail-pro .status-non{
		color:#fa758b;
	}
	.order-list .detail-pro .status-paid{
		color:#51d29d;
	}
	.order-list .detail-pro .status-finish, .order-list .bottom{
		color:#999;
	}
	.order-list .img-order{
		width:10rem;
		height:auto;
	}
	.order-list .bottom{
		margin-top:1.1rem;
	}
	.order-list .bottom a{
		color:#51d29d;
		font-size: 1.2rem;
	}

.prd-item .order-wrap .pic .img-confirm{
	width:19.4rem;
	height:19.4rem;
	margin:0 auto;
	border:1px solid #eee;
}
/* ------- 购买数量 ------- */
.chs-buy-num{
		width: 9.4rem;
		height: 3rem;
		line-height: 3rem;
		border: 1px solid #eaeaea;
		color: #888;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		margin:0 auto;
	}
	.chs-buy-num span{
		height: 3rem;
		width: 3rem;
		text-align: center;
		display: inline-block;
	}
	.chs-buy-num .chs-buy-num-count{
		overflow: hidden;
		background: none;
		border: 1px solid #eaeaea;
		border-top: none;
		border-bottom: none;
		text-align: center;
		color: #888;
	}

/* ---------- 订单页面 ---------- */
.detail-pro{
	padding:0.4rem;
}
.detail-pro .button,
.detail-pro .quantity,
.detail-pro .receive-phone{
	padding:1rem 0;
}
.detail-pro .quantity p{
	line-height: 2.4rem;
}
.detail-pro .receive-phone{
	text-align: left;
}

