<div class="prd-list">

	<div class="prd-item">

		<div class="prd-wrap">
			<a class="item" href="detail.html"> 
				 <div class="pic">
					<img src="/www/ui/img/global/test.jpg" alt="">
				</div>
				<div class="ft-h2">
					科尔沁原味羊原原尔沁沁
				</div>
				<div class="wrap-price">
					<span class="ft-price left">¥189</span>
					<span class="ft-tips right">还剩99件</span>
				</div> 
			
			</a> 
		</div>

		<div class="prd-wrap">
			<a class="item" href="#nolink" data-click-event="fuck"> 
				 <div class="pic">
					<img src="/www/ui/img/global/test.jpg" alt="">
				</div>
				<div class="ft-h2">
					科尔沁原味羊原原尔沁沁
				</div>
				<div class="wrap-price">
					<span class="ft-price left">¥189</span>
					<span class="ft-tips right">还剩99件</span>
				</div> 
			
			</a> 
		</div>

	
		<div class="prd-wrap">
			<a class="item" href="#nolink"> 
				 <div class="pic">
					<img src="/www/ui/img/global/test.jpg" alt="">
				</div>
				<div class="ft-h2">
					科尔沁原味羊原原尔沁沁
				</div>
				<div class="wrap-price">
					<span class="ft-price left">¥189</span>
					<span class="ft-tips right">还剩99件</span>
				</div> 
			
			</a> 
		</div>

	</div>
	<!-- products list end -->

</div>