/* ---------------- 确认订单 ---------------- */
.total-price{
	padding:.83rem;
	background: #474646;
	color:#eceded;
	text-align: left;
}
.total-price p{
	line-height: 1.83rem;
}
.total-price .order-code{
	color:#BDBDBD;
}
.total-price .total-amount{
	font-size: 1.5rem;
	border-top:1px dotted #666;
	padding-top:.33rem;
	margin-top:.33rem;
}

