
/*web site:aladin products management;
date:2015/2/2
author:sannielu*/


/* common CSS */
body,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ul,ol,li,form,button,input,textarea,th,td,select{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 arial;font-family: \5FAE\8F6F\96C5\9ED1;}
h1,h2,h3,h4,h5,h6,button,input,select,textarea{font-size:100%} 
cite,em,i{font-style:normal}
ul,ol{list-style:none}
a{text-decoration:none}
a:hover{text-decoration:none;cursor: pointer;}
fieldset,img{border:0 none;}
table{border-collapse:collapse;border-spacing:0}
input::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;outline:0}
iframe {vertical-align: top;}
*html{zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true)}(this))}
.group,.clear{*zoom:1}
.group:after,.clear:after{content:'\20';display:block;clear:both;height:0}

.hide{display: none;}
.show{display: block;}

.left{float: left;}
.right{float: right;}

.w-100{width:100%;}

.overflow{overflow: hidden;}





.login-verify{
	left:166px;
}

.wait-verify{
	background: #c2c2c2;
	color:#fff;
	text-align: center;
}












.deal-list{
	width:100%;
}
.deal-list th{
	height:30px;
	background: #ebedf2;
}
.deal-list td{
	text-align: center;
	border-top: 1px solid #ccc;
}
.deal-list .buyer-info{
		text-align:left;
		padding:6px;
}
.deal-list td.products{
	border:0 none;
}
.deal-list td.products .product-list{
	height:auto;
	overflow: hidden;
}
.deal-list .switcher{
	float: left;
	margin-left: 10px;
	color:#37C7AD;
}
.deal-list .switcher .icon-right{
 	display: inline-block;
 }
.deal-list .unfold .icon-right{
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

	/*.order-list td{
		border-top:1px dotted #ccc;
		
	}
	.order-list td, .order-list th{
		line-height: 22px;
		text-align: center;
		padding:5px;
		background: #fef5d5;
	}
*/






/* ------------- login ------------- */
.login-wrapper{
	background: #2b303b;
}
.login-wrapper .login-box{
	width:300px;
	position: absolute;
	left:50%;
	top:50%;
	margin:-120px 0 0 -150px;
}
.login-wrapper .login-box .login-cont{
	background: #5E6677;
	border-radius: 4px;
}
.login-wrapper .login-box .title{
	text-align: center;
	font-size: 14px;
	color:#2b303b;
	padding: 20px 0 10px;
	border-bottom: 1px solid #2b303b;
}
.login-wrapper .login-box .title .icon-logo{
	font-size: 30px;
	display: block;
}
.login-wrapper .login-box input{
	width:100%;
	height:34px;
	line-height: 34px;
	border:0 none;
	margin-bottom:20px;
	text-indent:12px;
}
	.login-box .reset-account .inpt-box{
		position: relative;
	}
	.login-box .reset-account.inpt-box .btn-verify{
		position: absolute;
		right:0;
		top:0;
	}
.login-wrapper .login-box form{
	padding:20px;
	border-top:1px solid #757D90;
}
.login-wrapper .login-box .btn-login{
	width:100%;
}
.login-wrapper .login-box .forget-pswd{
	color:#fff;
	display: inline-block;
	margin:4px 0;
	text-decoration: underline;
}
.login-wrapper .login-box .login-foot{
	text-align: center;
	margin:10px 0 0;
}

/*对话框*/
.mask{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #000;opacity: 0.6;z-index: 5;}

/*.lay-popup{border-radius:5px;padding:10px;position: absolute;z-index: 99; border: 1px solid #dcdcdc; background: #fff; margin: 0 auto;}
.content-wrapper{ padding: 15px 20px;}
.cont-popup{ height: 40px;}
	.cont-popup h2{background: #E2E8F3;border-radius: 4px;margin: 0; text-align: center; font-size: 16px; font-weight: normal;height: 40px; line-height: 40px;}
	.cont-row{font-size: 16px;padding: 0 30px}
	.cont-row label{width: 180px; display: inline-block;}
.text-content{line-height: 28px; padding-bottom: 10px; text-align: center;}
.bottom-button{ height: 40px; line-height: 40px; text-align: center;}
.btn-cancel{width: 80px; margin: 0 8px;}
.lay-popup .row-input{
	margin:0 0 15px;
	line-height: 30px;
}
.lay-popup .row-input input{
	height:28px;
	line-height: 28px;
	text-indent: 12px;
	width:240px;
}
.lay-popup .row-input select{
	border:1px solid #ccc;
	background: #fff;
	height:28px;
	line-height: 28px;
	width:240px;
}
.lay-popup .row-input label{
	float: left;
	text-align: right;
	width:75px;
}
.popup-alert{
	width:16.66rem;
	/*height:8.33rem;*/
	position: absolute;
	top:50%;
	left:50%;
	margin:-5.83rem 0 0 -10rem;
	background: rgba(240, 244, 245, .95);
	box-shadow: 0 0 3px #999;
	border-radius: 2px;
	color:rgb(234, 49, 49);
	padding:1.67rem;
	font-size: 14px;
	z-index: 6;
}
.popup-alert p{
	text-align: center;
	line-height: 1.83rem;
	font-size: 1.5rem;
	margin: 0;
}*/

/* 城市选择器 start*/
/*.clearfix {
    zoom: 1;
}
.clearfix:after {
    display: block;
    height: 0;
    clear: both;
    content: '';
}
.edit{
    text-decoration: none;
}
.area-dialog{
    position: absolute;
    width: 640px;
    border: 1px solid #c4d5df;
    background-color: #fff;
}
.area-close{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 10px;
}
.area-close:hover{
    text-decoration: underline;
}
.area-container{

}
.area-title{
    padding-left: 10px;
    height: 22px;
    line-height: 22px;
    font-weight: 700;
    background-color: #e9f1f4;
    border-width: 1px;
    border-style: solid;
    border-color: #fff #fff #c4d5df #fff;
}
.area-list{
    border-bottom: 1px solid #c4d5df;
}
.area-list .even{
    background-color: #ecf4ff;
}

.area-list .even .province-label{
    background-color: #ECF4FF;
    border-color: #ecf4ff;
}
.area-btns{
    padding: 5px 0 5px 10px;
    margin-left: 430px;
}
.area-submit, .area-cancel{
    vertical-align: middle;
    margin-right: 5px;
    padding: 2px 3px;
}
.area-item{
    vertical-align: middle;
    display: block;
    z-index: 1;
}
.area-name, .province-list{
    display: inline-block;
}
.area-name, .province-item{
    position: relative;
    float: left;
    margin-right: 1px;
    padding-right: 8px;
    height: 30px;
    width: 130px;
}
.area-label{
    margin-right: 5px;
    padding: 5px 0 5px 10px;
    display: inline-block;
    width: 120px;
    font-weight: 700;
}
.area-item input{
    vertical-align: middle;
}
.area-item label{
    margin: 0 1px;
}
.province-list {
    width: 500px;
}
.province-label{
    white-space: nowrap;
    margin-right: 3px;
    padding: 4px 4px 1px;
    display: inline-block; 
    position: relative;
    height: 17px;
    border: 1px solid #fff;
}
.showCityPop .province-label{
    background-color: #FFFEC6;
    border: solid 1px #f7e4a5;
    border-bottom: solid 1px #FFFEC6;
    z-index: 56000;
}
.select-num{
    color: #F60;
    font-size: 12px;
    letter-spacing: -1px;
}
.drop-up-down {
    width: 8px;
    height: 8px;
    padding: 2px;
    cursor: pointer;
}
.showCityPop .city-item{
    display: block;
    z-index: 55900;
}
.city-item{
    background-color: #FFFEC6;
    position: absolute;
    float: right;
    border: solid 1px #f7e4a5;
    z-index: 20000;
    top: 23px;
    left: 0;
    width: 214px;
    display: none;
    white-space: wrap;
}
.city-label{
    margin-right: 3px;
    padding: 4px 0 1px 4px;
    display: inline-block;
    line-height: 2;
}*/
/* 城市选择器 end 