
/* ----------- search style ----------- */
.sear-box{
	height:30px;
	border:1px solid #ccc;
	border-radius:20px;
	background: #fff;
	width:245px;
}
.sear-box input{
	border:0 none;
	float: left;
	width:200px;
	margin: 0 0 0 12px;
	outline: none;
	color:#666;
	font-size: 14px;
	line-height: 30px
}
.sear-box .icon-sear{
	color:#ccc;
	float: right;
	margin: 4px 6px 0 0;
	font-size: 20px;
}