<div class="layout-cont">    

   <!-- login s -->
   <div class="layer-login">
       <!-- <div class="hd-login">
           <a class="icon-camera" href="#nolink"></a>
           <img class="avatar hide" src="www/ui/img/global/test_pro2.jpg" alt="">
       </div> -->
      <a class="login-button user-login" href="login.html">
        <i class="icon-email"></i>
        邮箱登录
      </a> 
      <a class="login-button wx-login" href="#nolink">
        <i class="icon-wx"></i>
        微信登录
      </a>
      <a class="login-button new-login" href="sign_up.html">
        <i class="icon-account"></i>
        创建账户
      </a>
   </div>
   <!-- login e -->

    
</div>


<!-- head bar start -->
<section class="for-login">
    <div class="top-bar shop-top-bar">
        <div class="top-logo">
            <a href="personal_center.html" class="icon-left"></a>
        </div>
        <!-- <div class="top-right">
            <a href="sign_up.html">创建账户</a>
        </div> -->
        <div class="top-center">
            登录方式
        </div>
    </div>
</section>
<!-- head bar end -->