

/* ---------------- 新增地址 ----------- */
.address-content .new-addr, 
.address-list{
	background: #fff;
	padding:0 .83rem;
	border-bottom: 1px solid #dfdfdf;
}
.new-addr .row-inpt{
	display: block;
	width:100%;
	height:3.33rem;
	line-height: 3.33rem;
	background: transparent;
	border-bottom: 1px solid #eee;
}
.new-addr .textarea{
	width:100%;
	padding:.67rem 0;
	color:#999;
}
/* ---------------- 地址列表 ----------- */
.address-list{
	padding:.67rem .83rem;
}

/* ---------- 收货人信息 ---------- */
.receive-info{
	display: block;
	line-height: 1.67rem;
	border-top:1px solid #d9d9d9;
	border-bottom:1px solid #d9d9d9;
	background-color: #f6f8f8;
	padding:.67rem 2.33rem .67rem .67rem;
	margin:.42rem 0;
	position: relative;
}
.receive-info p{
	line-height: 1.83rem;
}
.receive-info .icon-right,
.receive-info .icon-check{
	color:#51d29d;
	position: absolute;
	right:.67rem;
	top:50%;
	margin-top:-.79rem;
}
.receive-info .icon-check{
	margin-top:-.71rem;
	color:#ddd;
}
.receive-info .fill{
	color:#51d29d;
}
.receive-info .name{
	margin:0 0 .33rem;
	font-size: 1.33rem;
}
.receive-info .number{
	font-size: 1.33rem;
	padding:0.33rem 0;
}
.receive-info .address,
.receive-info .postcode{
	color:#999;
}