/* ---------------- 我的收藏 ---------------- */
.row-feature{
	padding:1.5rem 0 0;
	overflow: hidden;
}
.row-feature .box-collect{
	float: left;
	width:50%;
	text-align:center;
	padding-bottom:2.5rem;
}
.row-feature .box-collect .pic{
	width:8.33rem;
	height:8.33rem;
	margin:0 auto;
}

.row-feature .box-collect .ft-h2{
	height:2rem;
	line-height: 2rem;
	overflow: hidden;
	padding:0 .67rem;
}