/*
website：alading
date:2014/12/28;
author:lulu;
*/
html{font-size:62.5%;-webkit-touch-callout: none;-webkit-appearance:none;/*added by alan*/height: 100%;}/* 10÷16=62.5% */
body{font-size:1rem;
	background-color: #eee;
	color:#666;
	font-family: sans-serif;
	line-height: 1.46rem;
	-webkit-user-select: none;
    -moz-user-select: none;
    /*added by alan*/
    height: 100%;
    overflow: hidden;
}
ul, li, p, body, h1, input{margin:0;padding:0;}
ul, li{list-style: none}
a{text-decoration: none;color:#51d29d;-webkit-tap-highlight-color: rgba(0,0,0,0);}
input{background: #e8e8e8;border:0 none;border-radius:0; -webkit-appearance : none ;}
img{display: block;border:0 none;}
pre{word-break:break-word;}



.w-100{width:100%;}

.hide{display: none;}
.show{display: block;}

.right{float: right;}
.left{float: left;}














