/*
website：alading
date:2014/12/28;
author:lulu;
*/
html{font-size:62.5%;-webkit-touch-callout: none;-webkit-appearance:none;/*added by alan*/height: 100%;}/* 10÷16=62.5% */
body{font-size:1rem;
	background-color: #eee;
	color:#666;
	font-family: sans-serif;
	line-height: 1.46rem;
	-webkit-user-select: none;
    -moz-user-select: none;
    /*added by alan*/
    height: 100%;
    overflow: hidden;
}
ul, li, p, body, h1, input{margin:0;padding:0;}
ul, li{list-style: none}
a{text-decoration: none;color:#51d29d;-webkit-tap-highlight-color: rgba(0,0,0,0);}
input{background: #e8e8e8;border:0 none;border-radius:0; -webkit-appearance : none ;}
img{display: block;border:0 none;}
pre{word-break:break-word;}

@font-face {
	font-family: 'icomoon';
	src: url('fonts/icomoon.eot');
}
@font-face {
	font-family: 'icomoon';
	src:url('../../fonts/icomoon.eot?-ut8ha');
	src:url('../../fonts/icomoon.eot?#iefix-ut8ha') format('embedded-opentype'),
		url('../../fonts/icomoon.woff?-ut8ha') format('woff'),
		url('../../fonts/icomoon.ttf?-ut8ha') format('truetype'),
		url('../../fonts/icomoon.svg?-ut8ha#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size:1.33rem;
	color:#a1a1a1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/*icon style*/
.icon-search:before{
	content: "\e623";
}
.icon-collect:before {
	content: "\e024";
}
.icon-collected:before {
	content: "\e9da";
}
.icon-users:before{
	content: "\e612";
}
.icon-email:before{
	content: "\e619";
}
.icon-addr:before{
	content:"\e620";
}
.icon-check:before{
	content:"\e042";
}
.icon-buy:before{
	content:"\e625";
}
.icon-account:before{
	content:"\e611";
}
.icon-view:before{
	content:"\e60a";
}
.icon-del:before{
	content:"\e60c";
}
.icon-edit:before{
	content:"\e60b";
}
.icon-set:before{
	content: "\e61d";
}
.icon-left:before{
	content: "\ea40";
}
.icon-more:before{
	content:"\e129";
}
.icon-right:before{
	content: "\ea50";
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); 	/* IE 9 */
	-moz-transform:rotate(90deg); 	/* Firefox */
	-webkit-transform:rotate(90deg); /* Safari 和 Chrome */
	-o-transform:rotate(90deg); 
	display: block;
	font-size: 2rem;
}



[class^="btn-"], [class*=" btn-"], [class^="inpt-"], [class*=" inpt-"]{
	-webkit-appearance : none ;
	height:4.17rem; /* ---- 所有按钮（btn－）输入框(inpt-) 高度为4.17rem ---- */
}
[class^="inpt-"], [class*=" inpt-"]{ /* 所有输入框(inpt-)背景颜色 */
	font-size: 1.5rem;
	color:#666;
	background: #e8e8e8;
	padding-left:1.04rem;
}

.mask{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 5;
}

.wrap-all{
	height:100%;
	overflow: hidden;
}

.prd-item .prd-wrap .item,
.shop-home .shop-banner .banner-pic a,
/*.prd-list .prd-item .prd-wrap .pic img,*/
.shop-home .shop-banner .banner-pic img,
.btn-bottom,
.login-in .member-info .m-avatar img,
.row-feature .box-collect .pic img,
.cont-popup .wrap-mobile .inpt-num{
	width:100%;
	height:100%;
}
.prd-wrap .pic img{
	width:100%;
	height:12.5rem;
}
/*-------------- fonts style -------------*/
[class^="ft-"], [class*=" ft-"]{
	font-style: normal;
}
.ft-h1{  /* 用于商户页面门店标题 */
	font-size: 1.5rem;
}
.ft-h2{ /* 用于商品标题 */
	font-size: 1.16rem;color:#666;
}
.ft-3{ /* 15px字号 */
	font-size: 1.25rem;
}
.ft-price{ /* 用于商品价格 */
	font-size: 1.33rem;color:#51d29d;font-weight: bold;font-family: sans-serif;
}
.ft-tips{ /* 用于提示性文字 */
	font-size: 1.16rem;opacity: .5;
}
.ft-4{
	font-size: .83rem;
}
/*.ft-crossed{
	font-size: .83rem;color:#888;opacity: .5;text-decoration: line-through;
}*/

/*-------------- button style -------------- */
[class^="btn-"], [class*=" btn-"]{
	color:#51d29d;
	font-size: 1.3rem;
	line-height: 4.17rem;
	padding:.4rem 1.4rem;
	text-align: center;
	background:#fff;
	border-radius: 1.5rem;
	border:2px solid #51d29d;
}
.btn-buy:active,
.btn-check:active{
	background: #51d29d;
	color:#fff;
}
.bottom-button a{
	border-right:1px solid #fff;
}
.bottom-button a:last-child{
	border-right:0 none;
}
.w-100{
	width:100%;
}


/*弹性布局*/
/*.prd-list .prd-item,*/
.cont-popup .wrap-mobile,
.nav-container,
.bottom-button,
.chs-buy-num,
.logi-bottom,
.login-in,
.wrap-purchase-amount,
.login-item{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	display:box;/* uc */
}

.btn-modify,
.btn-delete,
.btn-ok,
.btn-cancel,
.prd-item .prd-wrap{
	-webkit-box-pack:justify;
	-webkit-justify-content:space-between;
	-ms-flex-pack:justify;
	justify-content:space-between;
}
/*.prd-list .prd-item .prd-wrap,*/
.cont-popup .wrap-mobile .btn-ver,
.cont-popup .wrap-mobile .wait-ver,
.btn-ok,
.btn-cancel,
.btn-modify,
.btn-delete,
.nav-left, 
.nav-right,
/*.btn-buy,*/
.btn-share,
.chs-buy-num-sub,
.chs-buy-num-add,
.logi-summary-right,
.member-func
.row-feature .box-feature{
	-webkit-box-flex:1;
	-webkit-flex:1;
	-ms-flex:1;
	flex:1;
}

.hide{
	display: none;
}
.show{
	display: block;
}
/* 定位滑动问题 */
.body-content, .scroll-content{
	/*这里直接100%，元素内部留margin来撑开高度*/
	height:100%;
	overflow: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling:touch;
}

/* -- common head 头部 -- */
.prd-list,
.address-content{
	padding-top: 4.17rem;
}


.top-bar, .for-login{
	height:4.17rem;
	width:100%;
}
.for-login{
	position: absolute;
	top:0;
	left:0;
	z-index:3;
	overflow: hidden;
}
.top-bar, .btn-bottom{
	background: #f1efef;
}
.shop-top-bar{
	opacity: .9;
}
.top-logo{
	float:left;
	padding-left:.83rem;
	height:4.17rem;
}
.top-right{
	float:right;
	height:4.17rem;
}
.top-right a, .top-right span{
	display: block;
	padding-right:.83rem;
	line-height: 4.17rem;
}
.top-logo .icon-more,
.top-logo .icon-left{
	font-size: 1.9rem;
	color:#51d29d;
	line-height: 4.17rem;
	float: left;
}
.top-logo .icon-left{
	font-size: 1.5rem;
	padding:0 .33rem;
}
.top-logo span{
	float: left;
	height:4.17rem;
	line-height: 4.17rem;
	color:#fff;
	padding-left: .33rem;
}
.top-center{
	width:50%;
	margin:0 auto;
	height:100%;
	text-align: center;
	line-height: 4.17rem;
}
/*登录前后*/
.sign{
	float: right;
	position: relative;
	overflow: hidden;
}
.sign a{
	display: inline-block;
	line-height: 4.17rem;
	padding-right:.83rem;
}
.sign .icon-tdc{
	font-size: 2rem;
}
.sign{
	padding-top:.33rem;
}

.sign .icon-search{
	color:#51d29d;
	text-align: center;
	font-size: 1.9rem;
}

/* -------- line style -------- */
.header,
.goods-pic-title,
.goods-big-pics{
	border-bottom:1px solid #eaeaea;
}

.cont-popup{
	padding:0 2.08rem 0;
}
.cont-popup .arrow-down{
	display: block;
	text-align: center;
	padding:1rem 0;
}
.bottom-button{
	position: absolute;
	width:100%;
	/*height:4.17rem;*/
	bottom:0;
	left:0;
}

.transition{
	-webkit-transition:bottom .2s ease;
	-ms-transition:bottom .2s ease;
	transition:bottom .2s ease;
	-webkit-transform:-webkit-translateZ(0);
	-ms-transform:-ms-translateZ(0);
	transform:translateZ(0);
}

/* 手机验证 */
.cont-popup .wrap-mobile{
	height:4.17rem;
	margin-bottom: .83rem;
	position: relative;
	background: #e8e8e8;
}
.cont-popup .wrap-mobile select{
	height:4.17rem;
	border:0 none;
	line-height: 4.17rem;
	background: #e8e8e8;
	width:100%;
	font-size: 1.5rem;
	color:#666;
}

.cont-popup .wrap-mobile .btn-ver{
	background: #ff8400;
}
.cont-popup .wrap-mobile .wait-ver{
	background: #999;
}
.cont-popup .wrap-mobile .btn-ver,
.cont-popup .wrap-mobile .wait-ver{
	color:#fff;
	text-align: center;
	line-height:1.5rem;
	font-size: 1.17rem;
	width:5.33rem;
	height:4.17rem;
	position: absolute;
	top:0;
	right:0;
}
.cont-popup .wrap-mobile p{
	line-height: 2.08rem;
}
/* -- 错误提示 -- */
.layout-err-tips{
	text-align: center;
	height:2rem;
	line-height: 2rem;
	background-color:rgba(234, 49, 49, .7);
	color:#fff;
	position: absolute;
	/*top:0;*/
	left:0;
	width:100%;
	z-index: 10;
	
}
@-webkit-keyframes fadeout{
	0%{
		opacity: 1;
	}
	100%{  
		opacity: 0;
	}
}
@-ms-keyframes fadeout{
	0%{
		opacity: 1;
	}
	100%{  
		opacity: 0;
	}
}
@-moz-keyframes fadeout{
	0%{
		opacity: 1;
	}

	100%{  
		opacity: 0;
	}
}
@keyframes fadeout{
	0%{
		opacity: 1;
	}

	100%{  
		opacity: 0;
	}
}
.fade-out{
	-webkit-animation:fadeout 3s ease-out 1;
	-ms-animation:fadeout 3s ease-out 1;
	-moz-animation:fadeout 3s ease-out 1;
	animation:fadeout 3s ease-out 1;
	opacity: 0;
}
/* ------------ 弹窗提示 ------------ */
.popup-alert{
	width:16.66rem;
	/*height:8.33rem;*/
	position: absolute;
	top:50%;
	left:50%;
	margin:-5.83rem 0 0 -10rem;
	background: rgba(240, 244, 245, .95);
	box-shadow: 0 0 3px #999;
	border-radius: 2px;
	color:rgb(234, 49, 49);
	padding:1.67rem;
	z-index: 10;
}
.popup-alert p{
	text-align: center;
	line-height: 1.83rem;
	font-size: 1.5rem;
}

#container.white{
	background-color: white;
}

/* ----------- products list ----------- */

.prd-list{
	width:100%;
	padding-bottom:2.17rem;
	padding-top: 3.67rem;
}
.prd-list.sign-in{
	padding-bottom:5.17rem;
}
.prd-item{
	padding:.83rem .33rem 0;
}

	.prd-item .prd-wrap{
		background: #fff;
		box-shadow: 0 0 2px rgba(89,89,89,0.1);
		overflow: hidden;
		margin-bottom:.83rem;
	}
	.prd-wrap .text{
		text-align: left;
		padding:0 .33rem;
	}
	.prd-wrap .text h1{
		padding:.83rem 0;
	}
	.prd-item .prd-wrap .item{
		display: block;
	}
.prd-item .prd-wrap .pic,
.detail-pro{
	padding:0.33rem;
}

.prd-item .prd-wrap .wrap-price{
	padding:.63rem 0;
	margin:0 .63rem;
	overflow: hidden;
}
.prd-item .prd-wrap .ft-h2{
	margin:0 .63rem;
	line-height: 1.33rem;
	overflow: hidden;
	/*width:80%;*/
}
.prd-item .prd-wrap .ft-h2 p{
	padding-bottom: .63rem;
}
.layout-bottom{
	width:100%;
}




/* ----------- 订单／个人中心／支付  详情页面 ----------- */
.layout-cont{
	padding: 4.17rem 0.833rem 1.5rem;
	background-color: #fff;
}

/* ---------- 个人中心 ---------- */
.row-userid{
	padding:.833rem;
	border-bottom: 1px solid #eaeaea;
	
}
.row-userid .icon-account{
	color:#888;
	text-indent: 12px;
}
.row-feature{
	padding:1.5rem 0 0;
	overflow: hidden;
}
.layout-cont .box-feature{
	width:50%;
	text-align: center;
	color:#999;
	float: left;
}
.layout-cont .box-feature .icon-view,
.layout-cont .box-feature .icon-collect,
.layout-cont .box-feature .icon-users,
.layout-cont .box-feature .icon-email{
	padding:.83rem;
	color:#fff;
	border-radius:50%;
	width:1.84rem;
	height:1.84rem;
	display: block;  
	line-height: 1.84rem;
	margin:0 auto;
	font-size: 1.9rem;
}
.layout-cont .box-feature .icon-view{
	background:#b2d317;	
}
.layout-cont .box-feature .icon-collect{
	background: #fa758b;
}
.layout-cont .box-feature .icon-users{
	background: #fcbf07;
}
.layout-cont .box-feature .icon-email{
	background: #fc7d0c;
}
.layout-cont .box-feature .row-t{
	display: block;
	padding-top:.83rem;
}
/* ---------- 单个商品详情页面 ---------- */
.prd-item .detail-wrap,
.prd-item .order-wrap{
	text-align: center;
}
.prd-item .detail-wrap .pic img{
 	height:100%;
}
.prd-item .detail-pro .row-title{
	overflow: hidden;
	text-align: left;
}
.progress-bar{
	padding:1.67rem .63rem .83rem;
}
.progress-bar .text{
	color:#ADADAD;
}
.progress-bar .bar{
	position: relative;
	height:.33rem;
	border:1px solid #51d29d;
	border-radius: 4px;
	margin:.33rem 0;
}
.progress-bar .bar span{
	background: #51d29d;
	border-radius: 4px;
	position: absolute;
	height:.33rem;
	top:0;
	left:0;
	width:50%;
}
.progress-bar .volume{
	overflow: hidden;
}
.left{
	float: left;
}
.right{
	float: right;
}
.detail-wrap .collect .icon-collect, 
.detail-wrap .collect .icon-collected{
	color:#fa758b;
	font-size: 2rem;
	padding-right:.63rem;
	display: block;
}
/*.detail-wrap .collect .fill{
	background: #fa758b;
	color:#fff;
}*/
.detail-wrap .content{
	padding:1.2rem .33rem;
}
.detail-wrap .content img{
	width:100%;
	margin:0 0 .33rem;
}
/* ---------- 购买须知 ---------- */
.purchase-rule{
	padding:.67rem 0 1.67rem;
	border-top:1px dotted #ccc;
}
.purchase-rule .title{
	text-align: center;
}
.purchase-rule h1{
	font-weight: normal;
	font-size: 1.16rem;
}
.purchase-rule article{
	padding:0 0 1.33rem;
}
/* ---------- 订单页面 ---------- */
.prd-item .order-wrap .pic .img-confirm{
	width:16.17rem;
	height:16.17rem;
	margin:0 auto;
	border:1px solid #eee;
}
.detail-pro .button,
.detail-pro .quantity,
.detail-pro .receive-phone{
	padding:.83rem 0;
}
.detail-pro .quantity p{
	line-height: 2rem;
}
.detail-pro .receive-phone{
	text-align: left;
}
/* ---------- 收货人信息 ---------- */
.receive-info{
	display: block;
	line-height: 1.67rem;
	border-top:1px solid #d9d9d9;
	border-bottom:1px solid #d9d9d9;
	background-color: #f6f8f8;
	padding:.67rem 2.33rem .67rem .67rem;
	margin:.42rem 0;
	position: relative;
}
.receive-info p{
	line-height: 1.83rem;
}
.receive-info .icon-right,
.receive-info .icon-check{
	color:#51d29d;
	position: absolute;
	right:.67rem;
	top:50%;
	margin-top:-.79rem;
}
.receive-info .icon-check{
	margin-top:-.71rem;
	color:#ddd;
}
.receive-info .fill{
	color:#51d29d;
}
.receive-info .name{
	margin:0 0 .33rem;
	font-size: 1.33rem;
}
.receive-info .number{
	font-size: 1.33rem;
	padding:0.33rem 0;
}
.receive-info .address,
.receive-info .postcode{
	color:#999;
}
.chs-buy-num{
		width: 7.83rem;
		height: 2.5rem;
		line-height: 2.5rem;
		border: 1px solid #eaeaea;
		color: #888;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		margin:0 auto;
	}
	.chs-buy-num span{
		height: 2.5rem;
		width: 2.5rem;
		text-align: center;
		display: inline-block;
	}
	.chs-buy-num .chs-buy-num-count{
		overflow: hidden;
		background: none;
		border: 1px solid #eaeaea;
		border-top: none;
		border-bottom: none;
		text-align: center;
		color: #888;
	}
/* ---------------- 新增地址 ----------- */
.address-content .new-addr, 
.address-list{
	background: #fff;
	padding:0 .83rem;
	border-bottom: 1px solid #dfdfdf;
}
.new-addr .row-inpt{
	display: block;
	width:100%;
	height:3.33rem;
	line-height: 3.33rem;
	background: transparent;
	border-bottom: 1px solid #eee;
}
.new-addr .textarea{
	width:100%;
	padding:.67rem 0;
	color:#999;
}
/* ---------------- 地址列表 ----------- */
.address-list{
	padding:.67rem .83rem;
}
/* ---------------- 确认订单 ---------------- */
.total-price{
	padding:.83rem;
	background: #474646;
	color:#eceded;
	text-align: left;
}
.total-price p{
	line-height: 1.83rem;
}
.total-price .order-code{
	color:#BDBDBD;
}
.total-price .total-amount{
	font-size: 1.5rem;
	border-top:1px dotted #666;
	padding-top:.33rem;
	margin-top:.33rem;
}
/* ---------------- 我的订单 ---------------- */
.prd-item .order-list{
	background: #fff;
	overflow: hidden;
	padding:.33rem;
	position: relative;
}
	.order-list .detail-pro{
		padding:0 .2rem 0 9rem;
		text-align: left;
	}
	.order-list .detail-pro .ft-h2{
		padding-bottom: .5rem;
	}
	.order-list .detail-pro .wrap-price{
		overflow: hidden;
		padding:.33rem 0;
	}
	.order-list .detail-pro .status-non{
		color:#fa758b;
	}
	.order-list .detail-pro .status-paid{
		color:#51d29d;
	}
	.order-list .detail-pro .status-finish, .order-list .bottom{
		color:#999;
	}
	.order-list .img-order{
		width:8.33rem;
		height:auto;
	}
	.order-list .bottom{
		margin-top:.9rem;
	}
	.order-list .bottom a{
		color:#51d29d;
		font-size: 1rem;
	}
/* ---------------- 我的收藏 ---------------- */
.row-feature .box-collect{
	float: left;
	width:50%;
	text-align:center;
	padding-bottom:2.5rem;
}
.row-feature .box-collect .pic{
	width:8.33rem;
	height:8.33rem;
	margin:0 auto;
}

.row-feature .box-collect .ft-h2{
	height:2rem;
	line-height: 2rem;
	overflow: hidden;
	padding:0 .67rem;
}
/*------- media query -------*/
@media only screen and (min-width: 320px){
    html {
       /*  font-size: 62.5%!important;10÷16=62.5% */
        font-size: 10px!important;  
    }
}
@media only screen and (min-width: 376px){
    html {
       /*  font-size: 75%!important; 12÷16=75% */
        font-size: 12px!important;
    }
}
@media only screen and (min-width: 385px){
    html {
       /*  font-size: 88%!important; 14÷16=88% */
        font-size: 14px!important;
    }
}
@media only screen and (min-width: 481px){
    html {
       /*  font-size: 94%!important; 15.04÷16=94% */
        font-size: 15px!important;
	}
}
	
@media only screen and (min-width: 561px){
    html {
       /*  font-size: 112%!important; 17.44÷16=109% *//* 18÷16=112% */
        font-size: 17px!important;
    }
}
@media only screen and (min-width: 641px){
    html {
        /* font-size: 138%!important; 20÷16=125% *//* 22÷16=138% */
        font-size: 20px!important;
    }
}
@media only screen and (min-width: 829px){ 
    html {
        /*font-size: 150%!important;  24÷16=150% */
        font-size: 24px!important;
    }
}
@media only screen and (min-width: 1281px){ 
    html {
        /*font-size: 188%!important;  30÷16=188% */
        font-size: 30px!important;
    }
}
/* --------------- loading --------------- */
/*load 1*/
@-webkit-keyframes load{
	0%{background: #ccc;}
	100%{background: #666;}
}
@-moz-keyframes load{
	0%{background: #ccc;}
	100%{background: #666;}
}
@-o-keyframes load{
	0%{background: #ccc;}
	100%{background: #666;}
}
@-ms-keyframes load{
	0%{background: #ccc;}
	100%{background: #666;}
}
@keyframes load{
	0%{background: #ccc;}
	100%{background: #666;}
}

/*load 2*/
@-webkit-keyframes loadb{
	0%{background: #ccc;}
	25%{background: #ccc;}
	100%{background: #666;}
}
@-moz-keyframes loadb{
	0%{background: #ccc;}
	25%{background: #ccc;}
	100%{background: #666;}
}
@-o-keyframes loadb{
	0%{background: #ccc;}
	25%{background: #ccc;}
	100%{background: #666;}
}
@-ms-keyframes loadb{
	0%{background: #ccc;}
	25%{background: #ccc;}
	100%{background: #666;}
}
@keyframes loadb{
	0%{background: #ccc;}
	25%{background: #ccc;}
	100%{background: #666;}
}

/*load 3*/
@-webkit-keyframes loadc{
	0%{background: #ccc;}
	50%{background: #ccc;}
	100%{background: #666;}
}
@-moz-keyframes loadc{
	0%{background: #ccc;}
	50%{background: #ccc;}
	100%{background: #666;}
}
@-o-keyframes loadc{
	0%{background: #ccc;}
	50%{background: #ccc;}
	100%{background: #666;}
}
@-ms-keyframes loadc{
	0%{background: #ccc;}
	50%{background: #ccc;}
	100%{background: #666;}
}
@keyframes loadc{
	0%{background: #ccc;}
	50%{background: #ccc;}
	100%{background: #666;}
}

/*load 4*/
@-webkit-keyframes loadd{
	0%{background: #ccc;}
	75%{background: #ccc;}
	100%{background: #666;}
}
@-moz-keyframes loadd{
	0%{background: #ccc;}
	75%{background: #ccc;}
	100%{background: #666;}
}
@-o-keyframes loadd{
	0%{background: #ccc;}
	75%{background: #ccc;}
	100%{background: #666;}
}
@-ms-keyframes loadd{
	0%{background: #ccc;}
	75%{background: #ccc;}
	100%{background: #666;}
}
@keyframes loadd{
	0%{background: #ccc;}
	75%{background: #ccc;}
	100%{background: #666;}
}

.load-1{
	-webkit-animation:load 1s ease infinite;
	-moz-animation:load 1s ease infinite;
	-o-animation:load 1s ease infinite;
	-ms-animation:load 1s ease infinite;
	animation:load 1s ease infinite;
}
.load-2{
	-webkit-animation:loadb 1s ease infinite;
	-moz-animation:loadb 1s ease infinite;
	-o-animation:loadb 1s ease infinite;
	-ms-animation:loadb 1s ease infinite;
	animation:loadb 1s ease infinite;
}
.load-3{
	-webkit-animation:loadc 1s ease infinite;
	-moz-animation:loadc 1s ease infinite;
	-o-animation:loadc 1s ease infinite;
	-ms-animation:loadc 1s ease infinite;
	animation:loadc 1s ease infinite;
}
.load-4{
	-webkit-animation:loadd 1s ease infinite;
	-moz-animation:loadd 1s ease infinite;
	-o-animation:loadd 1s ease infinite;
	-ms-animation:loadd 1s ease infinite;
	animation:loadd 1s ease infinite;
}
.wrap-loading{
	padding:.67rem 0;
	text-align: center;
	
}
.wrap-loading span{
	display: inline-block;
	width:.83rem;
	height:.83rem;
	border-radius: 50%;
}
